@font-face {
    font-family: "Ballantines";
    src: url("./Ballantines-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Ballantines";
    src: url("./ballantines-serial-light-regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Ballantines";
    src: url("./ballantines-serial-medium-regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Ballantines";
    src: url("./ballantines-serial-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Ballantines";
    src: url("./Ballantines-Regular.ttf");
    font-weight: 400;
}